
div.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    .center{
        max-width: 1200px;
        margin: 0 auto;   
    }
    header{
        background: #763786;
        .header_wrapper{
            padding-top: 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .wrap_nav{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                nav ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
        
                }    
            }
        }
    }

}

