html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
}

.menu_icon {
  display: none;
}

div.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

div.wrapper .center {
  max-width: 1200px;
  margin: 0 auto;
}

div.wrapper header {
  background: #763786;
}

div.wrapper header .header_wrapper {
  padding-top: 19px;
  padding-bottom: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.wrapper header .header_wrapper .wrap_nav {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.wrapper header .header_wrapper .wrap_nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.wrapper header .header_wrapper .wrap_nav nav ul li {
  margin-left: 16px;
}

div.wrapper header .header_wrapper .wrap_nav nav ul li a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

div.wrapper header .header_wrapper .wrap_nav nav ul li a:hover {
  border-bottom: solid 2px;
}

div.wrapper header .header_wrapper .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.wrapper header .header_wrapper .wrap .date {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

div.wrapper .first_content {
  position: relative;
  background: url(/imges/bg_main.jpg);
  background-position: center center;
}

div.wrapper .first_content .bg_ping {
  position: absolute;
  width: 50%;
  height: 100%;
  background: rgba(228, 64, 228, 0.31);
  top: 0;
  right: 0;
  z-index: 1;
}

div.wrapper .first_content .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 146px;
  z-index: 2;
  position: relative;
}

div.wrapper .first_content .wrap .left_item h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 73px;
  text-transform: capitalize;
  color: #FFFAE6;
  padding-top: 174px;
}

div.wrapper .first_content .wrap .left_item .item {
  width: 368px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: #FFFFFF;
  padding-top: 43px;
}

div.wrapper .first_content .wrap .right_item {
  width: 50%;
}

div.wrapper .first_content .wrap .right_item .adres {
  margin: 381px 0 0 auto;
  border: solid 2px #FFFFFF;
  padding: 25px;
  width: 227px;
}

div.wrapper .first_content .wrap .right_item .adres p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 5px;
}

div.wrapper .first_content .wrap .right_item .adres a {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 2px;
}

div.wrapper .info {
  margin-bottom: 110px;
}

div.wrapper .info h3 {
  margin-top: 48px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-shadow: 2px -2px 0px rgba(214, 63, 216, 0.37);
}

div.wrapper .info div.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 62px;
}

div.wrapper .info div.wrap .content_left h2 {
  margin-left: 57px;
  margin-bottom: 54px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  color: #000000;
  text-shadow: 2px -2px 0px rgba(214, 63, 216, 0.37);
}

div.wrapper .info div.wrap .content_left p {
  width: 622px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  text-transform: uppercase;
  color: #000000;
}

div.wrapper .info div.wrap .img_right {
  margin-top: 74px;
  position: relative;
}

div.wrapper .info div.wrap .img_right .bg_ping_logo {
  background: #763786;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

div.wrapper .info div.wrap .img_right .bg_ping_logo img {
  display: inline;
  margin: 138px 43px;
}

div.wrapper .info div.wrap .img_right .bg_ping {
  width: 395px;
  height: 388px;
  background: rgba(228, 64, 228, 0.31);
  position: absolute;
  top: 20px;
  left: 20px;
}

div.wrapper footer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.wrapper footer .wrap .wrap_contacts {
  width: 50%;
  background: #763786;
}

div.wrapper footer .wrap .wrap_contacts h2 {
  margin-top: 33px;
  padding-left: 39px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  text-transform: uppercase;
  color: #FFFFFF;
}

div.wrapper footer .wrap .wrap_contacts .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 538px;
  margin-right: auto;
  margin-left: 63px;
}

div.wrapper footer .wrap .wrap_contacts .wrapper a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 12px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

div.wrapper footer .wrap .wrap_contacts .wrapper a:hover {
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */